h1{
    font-family: "Helvetica";
}

.bark{
    font-family: "Times", cursive;
}

.seatgeek {
    font-family: texturina, cursive;
}

.etsy {
    font-family: "Big Shoulders Stencil Display";
}

.amex {
    font-family: "anton";
}

.google {
    font-family: "Dancing script", cursive;
}